<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Vouchar_Program.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Model1" connectionString="data source=.;initial catalog=TEST;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
        <add name="Model11" connectionString="data source=DESKTOP-22GE4O4;initial catalog=TEST;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
        <add name="localhost_TEST_Connection" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=TEST"/>
        <add name="Vouchar_Program.Properties.Settings.VouchersConnectionString1" connectionString="Data Source=NASSACO-PC\HAKEM;Initial Catalog=Vouchers;User ID=moh;Password=man_r2005" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Vouchar_Program.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=NASSACO-PC\HAKEM;Initial Catalog=Vouchers;User ID=moh;Password=man_r2005;</value>
            </setting>
        </Vouchar_Program.Properties.Settings>
    </userSettings>
</configuration>
